body{color: #333333;
    background-color:wheat;
    font-family: "Open Sans", "Trebuchet MS", arial, verdana, sans-serif;
    display: grid;
    grid-gap:5px;
    grid-template-columns:40px 700px 50px 700px 40px;
    grid-template-rows: 300px ;
    
    
    grid-template-areas:
    
    ". f . s ."
    
    ;
    
    
}
.first{
    display:flex;
    background-image: url(profile_man.jpg);
    background-size:100px;
    background-repeat: no-repeat;
    background-position-y: 20px;
    background-position-x: 90%;
    flex-direction: column;
    align-content:left;
    border:rgb(8, 6, 6) 2px;
    border-style:solid;
    margin:2% 2% 4% 10%;
    padding:2px 30px 10px 30px;
    line-height:15px; 
    font-size: medium;
    justify-content: 2px;
    width: 500px;
    border-radius: 10px;
    background-color:whitesmoke;


}

p
{   display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    font-size: 18px;
    
}
#header{
    font-size: 30px;}
nav{
    grid-area: f;

}
.grey_header{
    color:rgb(197, 186, 186);
    font-size: x-large;
    
}
    
.second{
    display:flex;
    background-image: url(profile_vrouw.png);
    background-size:100px;
    background-repeat: no-repeat;
    background-position-y: 20px;
    background-position-x: 90%;
    flex-direction: column;
    align-content:left;
    border:rgb(8, 6, 6) 2px;
    border-style:solid;
    margin:2% 2% 4% 10%;
    padding:2px 30px 10px 30px;
    line-height:15px;
    font-size: medium;
    justify-content: space-between 2px;
    width: 500px;
    border-radius: 10px;
    background-color:whitesmoke;
    
    
}
aside{
    grid-area: s;
}    

}
.profile{
    width: 40px;
    
   
   

}
.b1
{
    display:inline-flex;
    justify-content: center;
    font-size:large;
    color: rgb(80, 150, 10);
    border:rgb(80, 150, 10) ;
    border-style: solid;
    width:250px;
    margin:5px 0px 5px 5px;
    padding:18px 10px 10px 10px 10px;
    background-color:white;
}
.b2{
    display:inline-flex;
    justify-content:center;
    font-size:large;
    color: rgb(243, 17, 28);
    border: rgb(243, 17, 28) ;
    border-style: solid;
    width:250px;
    margin:5px 5px 5px 0px;
    padding:18px 10px 10px 10px 10px;
    background-color:white;
}
.buttons{
    display: flex;
    width: 500px;
    align-content: center;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
    border-top-style: groove;
    
   
}
