.center-title {
  margin: auto;
  width: 600px;
  
  color: aliceblue;
  border-style: double;
  border-color: azure;
  background-color: rgb(15, 29, 56);
  margin: auto;
  padding:3%;
  font-size:30px;
  display: grid;
}
.title {
  margin: auto;
  width: 600px;
  color: aliceblue;
  border-style: double;
  border-color: azure;
  background-color: rgb(15, 29, 56);
  margin: auto;
  padding:3%;
  font-size:30px;
  display: grid;
}   


li a {
  display: inline-block;
  color: white;
  background-color: rgb(20, 16, 34);
  text-align: center;
  font-weight: 700;
  font-size:xx-large;
  font-family: sans-serif;
  padding: 1%;
  border: groove;
  margin:10px;
  width: 20%;
  
}
li {
  float: none;
  inline-size: 10px;
  display: inline;
  margin:center;
}
main {
  background-color: rgb(20, 16, 34);
  margin: auto;
  width: 50%;
  border-style: ridge;
  border-radius: 1px;
  background-position: center;
  text-align: center;
  font-size: xx-large;
  font-weight: 600;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(253, 253, 253);
  padding: 10px;
}


img{
  padding: 10px;
  margin:  auto;
  height: 450px;
  width: auto;
  display:grid
}


body { background-color: rgb(17, 41, 39); }

footer {border-color: blanchedalmond;border-style: double;padding: 5px; font-size: large; font-display:grid;
   background-color: rgb(27, 55, 56);
   margin:auto ;color:white;
   width:300px;}
   
nav {border-style: dotted;
border: floralwhite;}


@media screen and (min-width: 1024px) {
        body {
                background-color: rgb(50, 50, 56);
                
        }
        main {color: orange;
          margin-top: 1%;
        }
        li a {font-size: smaller;}
             {line-height: 20px;}
             {min-width:320px;}
             {display: inline;}

.center-title{margin: auto;
             font-size: 50px;}

.title
{
  margin: auto;
  width: 600px;
  color: aliceblue;
  border-style: double;
  border-color: azure;
  background-color: rgb(15, 29, 56);
  margin: auto;
  padding:3%;
  font-size:30px;
  display: grid;
}    
 footer {border-color: blanchedalmond;border-style: double;padding: 5px; font-size: large; font-display:grid;
   background-color: rgb(27, 55, 56);
   margin:auto ;color:white;
   width:300px;}
       
        
            

             
            
            
            

